header .navbar {
    background-color: #fff;
}

header .navbar nav a {
    color: #343a40;
}

html.top header .navbar {
    background-color: transparent;
}

html.top header .navbar .navbar-brand {
    color: #fff;
}

html.top header .navbar nav a {
    color: #fff;
}

.banner {
    background: url(../img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.banner h1 {
    font-family: 'Pacifico', cursive;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 15; }
}

.banner p {
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 15; }

}

.banner .cover {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner .btn {
    border-color: #fff;
    color: #fff;

}

.banner .btn:hover {
    background-color: #fff;
    color: #333;
}

#about p {
    color: #686b69;
    font-size: 15px;
}


.section {
    padding-top: 5em;
    padding-bottom: 5em;
}

#contact input {
    padding: 1.5rem 1rem;
}

#contact button {
    padding: .75rem 1rem;
}

#order button {
    background-color: #a4da22;
    border-style: none;
    padding: .75rem 1rem;
}

#contact i {
   color: #686b69;
}

#contact i:hover {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

footer {
    color: #fff;
}

.footer h1{
   padding-top: 1em;
   font-size: 12px; 
}

